
.links-col{
  background-color: lightgrey;
  /* padding-bottom: 182px; */
}

.profile {
  padding-top: 5px;
  border-radius: 50%;
  width: 80%;
  display: block;
  margin: auto;
}

.copy_right{
  text-align: center;
  padding-top: 50px;
}
.goals {
}

.experience{
}

.education{

}

.education img{
  width: 100%;
}

.education .timeframe{
  margin: auto;
  text-align: right;
}

.education .title{
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.education .item .info {
  padding-bottom: 10px;
}

.experience img{
  width: 100%;
}

.experience .timeframe{
  margin: auto;
  text-align: right;
}

.experience .title{
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
}

.experience .item .info{
  padding-bottom: 10px;
}

.publication{
  padding-bottom: 10px;
}

.publication .title {
  font-style: italic;
  text-align: center;
}

.publication .authors{
  text-align: center;
}

.publication .pub_date{
  text-align: right;
}
